doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/message.css')
.success-message
  svg.success-message__icon.icon-checkmark(viewbox='0 0 76 76')
    circle(cx='38' cy='38' r='36')
    path(fill='none' stroke='#FFFFFF' stroke-width='5' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' d='M17.7,40.9l10.9,10.9l28.7-28.7')
  h1.success-message__title Message Received
  .success-message__content
    p We will respond in approximately 30 minutes