doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/styles.css')
#contact-form
 .container
  form#contact(action='/' method='post')
    h3 Quick Contact
    h4 Contact us today, and get reply with in 24 hours!
    fieldset
      input(placeholder='Your name' name='name' type='text' tabindex='1' required='' autofocus='')
    fieldset
      input(placeholder='Your Email Address' name='email' type='email' tabindex='2' required='')
    fieldset
      input(placeholder='Your Phone Number' name='telephone' type='tel' tabindex='3' required='')
    fieldset
      input(placeholder='Your Message Title' name='itle' type='text' tabindex='4' required='')
    fieldset
      textarea(placeholder='Type your Message Here....' name='message' tabindex='5' required='')
    fieldset
      button#contact-submit(name='submit' type='submit' data-submit='...Sending') Submit


script(src='/app.js')